//====================================================================================================
//////////////////////////////////////////////////////
// FEATURES
//////////////////////////////////////////////////////

.features {
  // .features__container

  &__container {
    @media only screen and (max-width: em(425)) {
      padding: 0;
    }
  }

  // .features__inner

  &__inner {
    display: flex;
    padding: rem(0) rem(60);
    justify-content: space-between;
    @media only screen and (max-width: em(1200)) {
      flex-direction: column;
      gap: rem(26);
      padding: rem(0) rem(0);
    }
    @media only screen and (max-width: em(600)) {
      align-items: center;
    }
  }

  // .features__item

  &__item {
    background: url('@img/features/home.svg') no-repeat;
    max-width: rem(552);
    letter-spacing: 0.03em;
    text-align: center;
    @media only screen and (max-width: em(600)) {
      max-width: rem(390);
    }
  }

  // .features__item--top

  &__item--top {
    padding: rem(130) rem(148) rem(96) rem(130);
    min-height: rem(774);
    margin-top: rem(-230);
    @media only screen and (max-width: em(600)) {
      padding: rem(50) rem(50) rem(42);
      min-height: rem(577);
      background: url('@img/features/mobile-home-2.svg') no-repeat center;
    }
  }

  // .features__image-box

  &__image-box {
  }

  // .features__img

  &__img {
    display: block;
    margin: 0 auto rem(77);
    @media only screen and (max-width: em(600)) {
      margin: 0 auto rem(64);
    }
  }

  // .features__name

  &__name {
    font-weight: 600;
    font-size: rem(26);
    line-height: percent(35, 26);
    color: #2d036a;
    margin-bottom: rem(13);
    @media only screen and (max-width: em(600)) {
      font-size: rem(22);
      line-height: percent(29, 22);
      margin-bottom: rem(10);
    }
  }

  // .features__text

  &__text {
    font-weight: 300;
    line-height: percent(19, 18);
    color: #5d5a63;
    @media only screen and (max-width: em(600)) {
      font-size: rem(15);
      line-height: percent(16, 15);
    }
  }

  // .features__item--bottom

  &__item--bottom {
    padding: rem(228) rem(98) rem(96) rem(98);
    min-height: rem(705);
    background: url('@img/features/home-2.svg') no-repeat;
    margin-top: rem(-40);
    @media only screen and (max-width: em(1200)) {
      align-self: end;
      margin-top: rem(0);
    }
    @media only screen and (max-width: em(600)) {
      align-self: auto;
      background: url('@img/features/mobile-home-2.svg') no-repeat center;
      padding: rem(196) rem(40) rem(57);
      min-height: rem(577);
    }
  }
}

//////////////////////////////////////////////////////
// PAYMENTS
//////////////////////////////////////////////////////

.payments {
  background: #2d036a url('@img/payments/pink-circle.svg') bottom center no-repeat;
  padding: rem(80) 0 rem(104);
  position: relative;
  @media only screen and (max-width: em(1050)) {
    background: #2d036a;
  }

  // .payments__container

  &__container {
    &::after {
      content: '';
      position: absolute;
      top: rem(-300);
      right: rem(-200);
      background: url('@img/circle.svg') no-repeat;
      z-index: -1;
      width: rem(1357);
      height: rem(1274);
    }
    @media only screen and (max-width: em(1350)) {
      &::after {
        top: rem(-150);
        right: rem(0);
        width: 100%;
      }
    }
    @media only screen and (max-width: em(425)) {
      &::after {
        top: 23rem;
        right: -120%;
        background: url(../img/mobile-circle.svg) no-repeat;
        width: 794.53px;
        height: 746.25px;
      }
    }
  }

  // .payments__inner

  &__inner {
    display: flex;
    gap: rem(30);
    @media only screen and (max-width: em(1050)) {
      flex-direction: column;
      gap: rem(77);
    }
  }

  // .payments__body

  &__body {
    letter-spacing: 0.03em;
    text-align: center;
  }

  // .payments__title

  &__title {
    font-weight: 700;
    color: #fefefe;
    text-transform: uppercase;
    @include adaptiveValue('font-size', 42, 36, 1280, 375, 1);
    @include adaptiveValue('line-height', 61, 46, 1280, 375, 1);
    @include adaptiveValue('margin-bottom', 11, 25, 1280, 375, 1);
  }

  // .payments__subtitle

  &__subtitle {
    color: #ffffff;
    @include adaptiveValue('font-size', 24, 19, 1280, 375, 1);
    @include adaptiveValue('line-height', 19, 16, 1280, 375, 1);
    @include adaptiveValue('margin-bottom', 43, 25, 1280, 375, 1);
  }

  // .payments__btn

  &__btn {
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: rem(20) rem(0) rem(25);
    @media only screen and (max-width: em(600)) {
      padding: rem(17) rem(0) rem(21);
    }
  }

  // .payments__image

  &__image {
    position: relative;
    flex: 1 0 auto;
  }

  // .payments__img

  &__img {
    position: absolute;
    bottom: -61%;
    right: 0;
    object-fit: cover;
    @media only screen and (max-width: em(1250)) {
      bottom: -50%;
      width: 100%;
      height: 175%;
    }
    @media only screen and (max-width: em(1050)) {
      position: static;
      width: auto;
      height: auto;
      display: block;
      margin: 0 auto -135px;
    }
    @media only screen and (max-width: em(1050)) {
      width: 100%;
    }
  }
}

//////////////////////////////////////////////////////
// METHODS
//////////////////////////////////////////////////////

.methods {
  padding: rem(146) rem(0) rem(96);
  @media only screen and (max-width: em(768)) {
    padding: rem(127) rem(0) rem(52);
  }
  // .methods__container

  &__container {
  }

  // .methods__title

  &__title {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #757575;
    @include adaptiveValue('font-size', 42, 36, 1280, 375, 1);
    @include adaptiveValue('line-height', 30, 46, 1280, 375, 1);
    margin-bottom: rem(30);
    @media only screen and (max-width: em(768)) {
      text-align: center;
    }
  }

  // .methods__partners

  &__partners {
  }

  // .methods__inner

  &__inner {
    display: flex;
    gap: rem(30);
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: em(768)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .methods__content

  &__content {
    @media only screen and (max-width: em(1050)) {
      flex: 1 0 70%;
    }
    @media only screen and (max-width: em(768)) {
      align-self: center;
      text-align: center;
    }
  }

  // .methods__name

  &__name {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2d036a;
    @include adaptiveValue('line-height', 35, 46, 1280, 375, 1);
    @include adaptiveValue('font-size', 42, 36, 1280, 375, 1);
    @include adaptiveValue('margin-bottom', 48, 30, 1280, 375, 1);
  }

  // .methods__condition

  &__condition {
    font-weight: 300;
    font-size: 26px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #2d036a;
    @include adaptiveValue('line-height', 19, 16, 1280, 375, 1);
    @include adaptiveValue('font-size', 26, 21, 1280, 375, 1);
    @include adaptiveValue('margin-bottom', 28, 25, 1280, 375, 1);
    padding-left: rem(57);
    position: relative;
    @media only screen and (max-width: em(768)) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-left: rem(0);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: url('@img/methods/check.png') no-repeat;
      width: rem(37);
      height: rem(30);
      @media only screen and (max-width: em(768)) {
        position: relative;
        background: url('@img/methods/check-mobile.png') no-repeat;
        display: inline-block;
        margin-right: rem(17);
      }
    }
  }

  // .methods__text

  &__text {
    font-weight: 300;
    letter-spacing: 0.03em;
    color: #5d5a63;
    @include adaptiveValue('line-height', 22, 18, 1280, 375, 1);
    @include adaptiveValue('font-size', 18, 15, 1280, 375, 1);
    @include adaptiveValue('margin-bottom', 48, 51, 1280, 375, 1);
    max-width: rem(600);
  }

  // .methods__btn

  &__btn {
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    @include adaptiveValue('font-size', 18, 16, 1280, 375, 1);
    @include adaptiveValue('line-height', 22, 18, 1280, 375, 1);
    background: #ff3471;
    border-radius: 40px;
    padding: rem(19);
    display: inline-block;
    @media only screen and (max-width: em(768)) {
      align-self: center;
    }
  }

  // .methods__images

  &__images {
    @media only screen and (max-width: em(768)) {
      align-self: center;
      margin-bottom: rem(52);
    }
  }

  // .methods__img

  &__img {
    @media only screen and (max-width: em(1050)) {
      width: 100%;
      object-fit: cover;
    }
  }
}

//////////////////////////////////////////////////////
// ADMIN-PANEL
//////////////////////////////////////////////////////

.admin-panel {
  background: url('@img/admin-panel.jpg') center/cover no-repeat;
  min-height: rem(1039);
  padding: rem(88) rem(0);
  @media only screen and (max-width: em(375)) {
    background: url('@img/admin-panel-mobile.jpg') center/cover no-repeat;
    min-height: rem(778);
    padding: rem(40) rem(0);
  }

  // .admin-panel__container

  &__container {
  }

  // .admin-panel__inner

  &__inner {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    @media only screen and (max-width: em(768)) {
      text-align: center;
    }
  }

  // .admin-panel__title

  &__title {
    @include adaptiveValue('font-size', 69, 44, 1280, 375, 1);
    @include adaptiveValue('line-height', 58, 48, 1280, 375, 1);
    @include adaptiveValue('margin-bottom', 21, 7, 1280, 375, 1);
  }

  // .admin-panel__subtitle

  &__subtitle {
    @include adaptiveValue('font-size', 32, 26, 1280, 375, 1);
    @include adaptiveValue('line-height', 24, 20, 1280, 375, 1);
  }
}

//====================================================================================================
